index.html
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>srisanth A  | Portfolio</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
 
</head>
<body>

  <header>
    <h1>srisanth A</h1>
    <p>Information Technology Student | Programmer | Tech Enthusiast</p>
<img src=""
    <hr></hr>
      <p>
        I'm a B.Tech IT student at Velammal College of Engineering and Technology (2023-2027).
        Passionate about programming and logic, I always aim to be responsible, punctual, and focused on continuous learning.
      </p>
    </div>
  </section>

  <section id="education">
    <h2>Education</h2>
    <div class="two-columns">
      <div class="card">
        <h3>Velammal College of Engineering and Technology</h3>
        <p>B.Tech in Information Technology<br><em>2023 – 2027</em></p>
      </div>
      <div class="card">
        <h3>AKNU S.SUNDAR. Matric Higher Sec School</h3>
        <p>12th Grade – 80%</p>
      </div>
    </div>
  </section>

  <section id="languages">
    <h2>Languages Known</h2>
    <div class="card">
      <ul>
        <li>English</li>
        <li>Tamil</li>
        <li>hindi</li>
      </ul>
    </div>
  </section>

  <section id="skills">
    <h2>Computer Skills</h2>
    <div class="card">
      <ul>
        <li>Python</li>
        <li>Java</li>
        <li>C Programming</li>
      </ul>
    </div>
  </section>

  <section id="competitions">
    <h2>Competitions Participated</h2>
    <div class="card">
      <ul>
        <li>Code Arena</li>
        <li>Reverse Engineering</li>
        <li>Kalams Youth Federation</li>
      </ul>
    </div>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <div class="card contact">
      <p><strong>📞 Phone:</strong> 6381380904</p>
      <p><strong>📧 Email:</strong> sris10204@gmail.com</p>
      <p><strong>📍 Address:</strong> othakadi madurai-107</p>
    </div>
  </section>

  <footer>
    &copy; 2025 srisanth A. All rights reserved.
  </footer>

 </body>
 </html>